.body {
    font-family: cursive;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Navbarheading {
    color: black;
    font-size: large;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #00ff00 15%, #00ccff 75%);
}


.Navbar {
    padding: 15px;
    color: black;
    font-size: x-large;
    font-weight: 600;
    position: sticky;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #00ff00 15%, #00ccff 75%);
}

.para1 {
    display: grid;
    grid-template-columns: 3 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

}


.para2 {
    display: grid;
    grid-template-columns: 300px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.para3 {
    display: grid;
    grid-template-columns: 300px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

ul {
    display: flex;
    /* display: inline-flex; */
  list-style: none;
}

.noticeBoard {
    border: 2px dotted #00ff00;
    border-radius: 0.2rem;
    padding: 2em;
    text-align: justify;
    /* border: solid #00ccff 1px; */
    width: 50%;
    text-align: center;
}

.noticeBoard > td {
    padding: 2px;
}

.foot {
}